# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\RAJA\OneDrive - University of Salford\Uni\Year 2\Semester 1\Software Projects with Agile Techniques\HackCamp\HackCamp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
